<h1> Players </h1>
<head>
    <script type="text/javascript" src="https://kryogenix.org/code/browser/sorttable/sorttable.js"></script>
</head>
<table class="sortable">
<thead>
    <tr>
        {% for header in headers %}
            <th> {{header}} </th>
        {% endfor %}
    </tr>
</thead>
<tbody>
{% for username, generated_stats in stats.items %}
    <tr>
        <td> {{username}} </td>
        {% include "players/player_generated_stats.html" with generated_stats=generated_stats %}
    </tr>
{% endfor %}
</tbody>
</table>